
{
    "Mac.localdomain": {
        "data_root": "/Users/martin/data/2021_FLIRRT/",
        "output_root": "/Users/martin/data/2021_FLIRRT/preprocessed"
    },
    "icu_thinkpad": {
        "data_root": "C:/Programming/sources/FLIRRT",
        "output_root": "C:/Programming/FLIRRT/FLIRRT_preprocessed/"
    }
}
