
{
    "martins-macbook-pro.local": {
        "data_root": "/Users/martin/data/2021_FLIRRT/",
        "output_root": "/Users/martin/data/2021_FLIRRT/preprocessed",
        "R_output_root": "/Users/martin/Library/CloudStorage/OneDrive-SharedLibraries-Faltys/2021_FLIRRT - Dokumente/General/Paper/figures"
    },
    "Martins-MacBook-Pro.local": {
        "data_root": "/Users/martin/data/2021_FLIRRT/",
        "output_root": "/Users/martin/data/2021_FLIRRT/preprocessed",
        "R_output_root": "/Users/martin/Library/CloudStorage/OneDrive-SharedLibraries-Faltys/2021_FLIRRT - Dokumente/General/Paper/figures"
    },
    "mac.localdomain": {
        "data_root": "/Users/martin/data/2021_FLIRRT/",
        "output_root": "/Users/martin/data/2021_FLIRRT/preprocessed",
        "R_output_root": "/Users/martin/Library/CloudStorage/OneDrive-SharedLibraries-Faltys/2021_FLIRRT - Dokumente/General/Paper/figures"
    },
    "icu_thinkpad": {
        "data_root": "C:/Programming/sources/FLIRRT",
        "output_root": "C:/Programming/FLIRRT/FLIRRT_preprocessed/",
        "R_output_root": "C:/Programming/FLIRRT/FLIRRT_Paper"
    }
}
