
{
    "Mac.localdomain": {
        "data_root": "/Users/martin/data/2021_FLIRRT/",
        "output_root": "/Users/martin/data/2021_FLIRRT/preprocessed"
    },
    "computer_B": {
        "data_root": "/Users/yourname/data/FLIRRT",
        "output_root": "/Users/yourname/FLIRRT/FLIRRT_preprocessing"
    }
}
